html, body {
  height: 100%;
  margin: 0;
}

.slight-shadow {
	text-shadow: 1px 1px 1px #e5e5e5;
}

@media only screen and (max-width: 991.98px) {
	.page-title-spacing {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 992px) {
	.page-title-spacing {
		margin-top: 55px;
		margin-bottom: 35px;
	}
}
