.navbar {
	border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
	background-image: url("../images/logo.png");
	background-size: contain;
}

.navbar-toggler {
	margin-left: 19px !important;
}

.fa-layers-counter {
	height: 65px;
	width: 82px;
	font-size: 50px;
	left: -48px;
	top: -9px;
}

#cart-header-icon {
	font-size: 28px;
	margin-right: -2px;
}

.navbar-toggler:focus {
	font-size: 1.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-toggler:active {
	background-color: #1e1e1e17;
}

.header-btn, .header-btn:focus {
	border: none;
	outline: none;
	background-color: transparent;
	margin: 7px;
	font-family: karmaMedium;
	font-size: 18px;
}

@media only screen and (max-width: 991.98px) {
	.navbar-brand {
		height: 70px;
		width: 70px;
	}

	.cart-header-btn {
		height:70px;
		width: 50px;
	}
}

@media only screen and (min-width: 992px) {
	.navbar-brand {
		height: 90px;
		width: 90px;
	}
}