.card {
	border-style: none;
}

.card-body {
	padding: 0;
}

.product-link, .product-link:hover {
	color: #1c1c1c;
	text-decoration: none;
}

.product-link:hover {
	-ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
}

.card-img-top {
	object-fit: contain;
	width: 100%;
}

@media only screen and (max-width: 349.98px) {
	.card-width {
		width: 250px;
		padding: 5px;
	}

	.card-img-top {
		height: 220px;
	}
}

@media only screen and (min-width: 350px) and (max-width: 399.98px) {
	.card-width {
		width: 300px;
		padding: 5px;
	}

	.card-img-top {
		height: 270px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 575.98px) {
	.card-width {
		width: 330px;
		padding: 5px;
	}

	.card-img-top {
		height: 300px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	.card {
		min-height: 315px;
	}

	.card-width {
		width: 250px;
		padding: 5px;
	}

	.card-img-top {
		height: 220px;
	}

	.product-card-text {
		font-size: 13px;
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 768px) {
	.card {
		min-height: 315px;
	}

	.card-width {
		width: 220px;
		padding: 5px;
	}

	.card-img-top {
		height: 190px;
	}

	.product-card-text {
		font-size: 15px;
		margin-bottom: 0px;
	}
}